.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 2rem;
}

.login:before {
    display: block;
    content: "";
    background: url(../../img/login.jpg) no-repeat center center;
    background-size: cover;
}

.forms {
    max-width: 30rem;
    padding: 1rem;
    margin-top: 20vh;
}

.form {
    margin-bottom: 2rem;
}

.wrapper {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: .5rem;
}

.input {
    border: 1px solid #eee;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: .8rem;
    border-radius: .4rem;
    background: #eee;
    transition: .2s;
}

.button {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    background: #fb1;
    color: #764701;
    min-width: 8rem;
    padding: .8rem 1.2rem;
    box-sizing: border-box;
    transition: .1s;
}

.perdeu {
    display: inline-block;
    color: #666;
    padding: .5rem 0;
    line-height: 1;
}

.perdeu:after {
    content: "";
    height: 2px;
    width: 100%;
    background: currentColor;
    display: block;
}

.cadastro {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cadastro p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle {
    font-family: var(--type-second);
    line-height: 1;
    font-size: 2rem;
}

.subtitle:after {
    content: "";
    display: block;
    background: #ddd;
    height: .5rem;
    width: 3rem;
    border-radius: .2rem;
}